
.div0 {
    position: absolute;
    height: 400px;
    width: 400px;
    border-style: solid;
    border-color: black;
    background-color: rgba(231, 82, 82, 0.527);
    

}

.div1 {
    position: absolute;
    margin-left: 500px;
    height: 400px;
    width: 400px;
    border-style: solid;
    border-color: black;
    background-color: rgba(199, 100, 100, 0.404);
   

}

.span {
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    height: 60px;
    width: 200px;
    border-width: 2px;
    border: thin dotted black;
    
}